.~*
__pycache__/
*.pyc
*.out

# Jupyter/IPython notebook files
*.ipynb
.ipynb_checkpoints

# Experimental TEST scripts
*_TEST.py
# Ignore any file/dir/symlink starting with TEST:
TEST*

# VS Code workspace
*.code-workspace

# Project-specific
*.xls
*.XLS

# Ignore any file/dir/symlink starting w/ these names:
bu*
import*
export*
reference*
img*
